Repository playerony/gatsbyjs-simple-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier-package-json --write

chore: add shell scripts and configure commitlint
  .github/workflows/commitlint.yml
  .github/workflows/prettier.yml
Due: none

chore: add shell scripts and configure commitlint
  .github/workflows/commitlint.yml
Due: none

chore: add shell scripts and configure commitlint
  .github/workflows/commitlint.yml
  package.json
Due: prettier-package-json --write

chore: add shell scripts and configure commitlint (#1)
  .github/workflows/commitlint.yml
  .github/workflows/prettier.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  commitlint.config.js
  gatsby-config.js
  package-lock.json
  package.json
  scripts/git-checkout-main-with-pull.sh
  scripts/git-create-branch.sh
  scripts/git-push-changes.sh
  scripts/reinstall-node-modules.sh
  src/pages/404.js
  src/pages/index.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

ci: configure eslint
  .babelrc
  .eslintrc
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier-package-json --write

ci: configure eslint
  scripts/reinstall-node-modules.sh
Due: none

ci: configure eslint
  .gitignore
  .prettierignore
  LICENSE
  package.json
Due: prettier-package-json --write

ci: configure eslint (#2)
  .babelrc
  .eslintrc
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .gitignore
  .lintstagedrc
  .prettierignore
  LICENSE
  package.json
  scripts/reinstall-node-modules.sh
  yarn.lock
Due: prettier-package-json --write

chore: set global styles
  .eslintrc
  gatsby-config.js
  src/images/icon.png
  src/pages/404.js
  src/pages/about.js
  src/pages/index.js
  src/parts/layout.js
Due: prettier --write

chore: set global styles
  .eslintcache
  gatsby-config.js
Due: prettier --write

chore: set global styles
  .eslintcache
  .gitignore
Due: none

chore: set global styles
  README.md
Due: prettier --write

chore: set global styles (#3)
  .eslintrc
  .gitignore
  README.md
  gatsby-config.js
  src/images/icon.png
  src/pages/404.js
  src/pages/about.js
  src/pages/index.js
  src/parts/layout.js
Due: prettier --write

chore: create header component
  src/parts/header.js
  src/parts/layout.js
Due: prettier --write

chore: create header component
  src/parts/header.js
Due: prettier --write

chore: create header component (#4)
  src/parts/header.js
  src/parts/layout.js
Due: prettier --write

chore: load site metadata
  gatsby-config.js
  src/hooks/use-site-metadata.js
  src/parts/layout.js
Due: prettier --write

chore: load site metadata (#5)
  gatsby-config.js
  src/hooks/use-site-metadata.js
  src/parts/layout.js
Due: prettier --write

chore: rendering post list
  gatsby-config.js
  package.json
  posts/00-first-post/first-post.mdx
  posts/01-second-post/second-post.mdx
  src/hooks/use-posts.js
  src/pages/index.js
  src/parts/layout.js
  src/parts/post-preview.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: rendering post list (#6)
  gatsby-config.js
  package.json
  posts/00-first-post/first-post.mdx
  posts/01-second-post/second-post.mdx
  src/hooks/use-posts.js
  src/pages/index.js
  src/parts/layout.js
  src/parts/post-preview.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: generating post pages
  gatsby-node.js
  src/templates/post.js
Due: prettier --write

chore: generating post pages (#7)
  gatsby-node.js
  src/templates/post.js
Due: prettier --write

chore: use static images in markdown
  gatsby-config.js
  package.json
  posts/00-first-post/first-post.mdx
  posts/00-first-post/images/koenitz-rozells.jpg
  posts/01-second-post/images/orest.jpg
  posts/01-second-post/second-post.mdx
  src/hooks/use-posts.js
  src/parts/post-preview.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: use static images in markdown (#8)
  gatsby-config.js
  package.json
  posts/00-first-post/first-post.mdx
  posts/00-first-post/images/koenitz-rozells.jpg
  posts/01-second-post/images/orest.jpg
  posts/01-second-post/second-post.mdx
  src/hooks/use-posts.js
  src/parts/post-preview.js
  yarn.lock
Due: prettier --write, prettier-package-json --write

Path conditions:
  prettier --write: (any of: *.src/**/*) or (any of: *.{js,md,css})
  prettier-package-json --write: any of: package.json
